[submodule "src_firmware/MotorControllerFirmware"]
	path = src_firmware/MotorControllerFirmware
	url = git@github.com:eSqadron/NRF52840-Brushed-Motor-Controller-Firmware.git
[submodule "src_Hostapp"]
	path = src_Hostapp
	url = git@github.com:eSqadron/NRF52840-Brushed-Motor-Controller-HostApp.git
[submodule "EE_schematics"]
	path = EE_schematics
	url = git@github.com:KN-Integra/Electrically-supported-fishing-rod-hardware.git
[submodule "src_Hostapp_py"]
	path = src_Hostapp_py
	url = git@github.com:KN-Integra/Electrically-supported-fishing-rod-mobile-hostapp-py.git
