&uart0 {
	status="disabled";
};


/ {
	pwmdrv {
		compatible = "pwm-leds";
		pwm_drv_ch1: pwm_drv_ch1 {
			pwms = <&pwm1 0 PWM_MSEC(20) 0>;
		};
	};

	gpio_pins {
		compatible = "gpio-leds";
		set_dir_p1_ch1: set_dir_p1_ch1 {
			gpios = <&gpio0 22 GPIO_ACTIVE_HIGH>;
		};

		set_dir_p2_ch1: set_dir_p2_ch1 {
			gpios = <&gpio0 24 GPIO_ACTIVE_HIGH>;
		};

		enter_boot_p: enter_boot_p {
			gpios = <&gpio0 19 GPIO_ACTIVE_HIGH>;
		};

		get_enc_p1_ch1: get_enc_p1_ch1 {
			gpios = <&gpio1 15 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
		};

		get_enc_p2_ch1: get_enc_p2_ch1 {
			gpios = <&gpio1 13 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
		};

		off_on_button: off_on_button {
			gpios = <&gpio0 10 (GPIO_PULL_DOWN | GPIO_ACTIVE_LOW)>;
		};
	};

	aliases {
		pwm-drv-ch1 = &pwm_drv_ch1;
		set-dir-p1-ch1 = &set_dir_p1_ch1;
		set-dir-p2-ch1 = &set_dir_p2_ch1;
		enter-boot-p = &enter_boot_p;
		get-enc-p1-ch1 = &get_enc_p1_ch1;
		get-enc-p2-ch1 = &get_enc_p2_ch1;
		off-on-button = &off_on_button;
	};

};

&pinctrl{
	pwm1_default: pwm1_default {
		group1 {
			psels = <NRF_PSEL(PWM_OUT0, 0, 29)>;
			nordic,invert;
		};
	};
	pwm1_sleep: pwm1_sleep {
		group1 {
			psels = <NRF_PSEL(PWM_OUT0, 0, 29)>;
			low-power-enable;
		};
	};
};

&pwm1 {
	status = "okay";
	pinctrl-0 = <&pwm1_default>;
	pinctrl-1 = <&pwm1_sleep>;
	pinctrl-names = "default", "sleep";

};
