/ {
	pwmdrv {
		compatible = "pwm-leds";
		pwm_drv_ch1: pwm_drv_ch1 {
			pwms = <&pwm1 0 PWM_MSEC(20) 0>;
		};
	};

	gpio_pins {
		compatible = "gpio-leds";
		set_dir_p1_ch1: set_dir_p1_ch1 {
			gpios = <&gpio0 22 GPIO_ACTIVE_LOW>;
		};

		set_dir_p2_ch1: set_dir_p2_ch1 {
			gpios = <&gpio0 24 GPIO_ACTIVE_LOW>;
		};

		enter_boot_p: enter_boot_p {
			gpios = <&gpio0 19 GPIO_ACTIVE_HIGH>;
		};
	};

	aliases {
		pwm-drv-ch1 = &pwm_drv_ch1;
		set-dir-p1-ch1 = &set_dir_p1_ch1;
		set-dir-p2-ch1 = &set_dir_p2_ch1;
		enter-boot-p = &enter_boot_p;
	};

};

&pinctrl{
	pwm1_default: pwm1_default {
		group1 {
			psels = <NRF_PSEL(PWM_OUT0, 0, 15)>;
			nordic,invert;
		};
	};
	pwm1_sleep: pwm1_sleep {
		group1 {
			psels = <NRF_PSEL(PWM_OUT0, 0, 15)>;
			low-power-enable;
		};
	};
};

&pwm1 {
	status = "okay";
	pinctrl-0 = <&pwm1_default>;
	pinctrl-1 = <&pwm1_sleep>;
	pinctrl-names = "default", "sleep";

};
