# SPDX-License-Identifier: Apache-2.0
#
# Copyright (c) 2023 Maciej Baczmanski, Michal Kawiak, Jakub Mazur
#

menu "Motor controller configuration"
config GEARSHIFT_RATIO
	int "Gearshift ratio of attached motor"
	default 150

config ENC_STEPS_PER_ROTATION
	int "Number of encoder steps per one full rotation"
	default 64

config ENC_TIMER_PERIOD_MS
	int "Sampling period for continuous speed and position calculation"
	default 100

config TEMPLATE_NAME_SIZE
	int "Max size of template's name in characters"
	default 10

config SPEED_MAX_MRPM
	int "Max motor speed from motor documentation (in mili RPM - one thousands of RPM)"
	default 67000

config POSITION_CONTROL_MODIFIER
	int "Accuracy of position control (if value is 10 position is controlled in deca-degrees; \
	     if 100 - centi-degrees etc.)"
	default 10

config UART_SHELL_SUPPORT
	bool "Support for communication using uart shell - set to one to communicate via shell \
	      over uart, 0 for disabled communication"
	default y

config BT_SUPPORT
	bool "bool value, 1 if BLE is supposed to be supported, 0 if not"
	select BT
	select BT_SMP
	select BT_PERIPHERAL
	select BT_DIS
	select BT_DIS_PNP
	default y

config SUPPORTED_CHANNEL_NUMBER
	int "number of motor channels supported by the hardware"
	default 2

config KP_NUMERATOR_FOR_SPEED
	int "proportional part numerator for speed control"
	default 4

config KP_DENOMINATOR_FOR_SPEED
	int "proportional part denominator for speed control"
	default 10

if UART_SHELL_SUPPORT
config USB_DEVICE_VID
	default 0x1915

config USB_DEVICE_PID
	default 0x0000
endif

if BT_SUPPORT
# TODO - Changing values of this configs in prj.conf might not work. - TEST IT AND REPAIR!
config BT_DEVICE_NAME
	default "Motor Controller"

config BT_DEVICE_APPEARANCE
	default 833
endif

endmenu

source "Kconfig.zephyr"
