# SPDX-License-Identifier: Apache-2.0
#
# Copyright (c) 2023 Maciej Baczmanski, Michal Kawiak, Jakub Mazur
#

menu "Zephyr Kernel"
source "Kconfig.zephyr"
endmenu

menu "Wyndka configuration"
config GEARSHIFT_RATIO
	int "Gearshift ratio of attached motor"
	default 150

config ENC_STEPS_PER_ROTATION
	int "Number of encoder steps per one full rotation"
	default 64

config ENC_TIMER_PERIOD_MS
	int "Sampling period for continuus speed calculation"
	default 100
endmenu
