# SPDX-License-Identifier: Apache-2.0
#
# Copyright (c) 2023 Maciej Baczmanski, Michal Kawiak, Jakub Mazur
#

menu "Wedka configurtion"
rsource "./MotorControllerFirmware/BrushedMotorControllerFirmware/Kconfig"
endmenu
